/*layout.html css*/

#welcome{
    margin: 50px;
    font-size: 45px;
    text-align: center
}

#welcome-explanation{
    font-size: 25px;
    text-align: center
}

#menu-coffee{
    margin-top: 50px;
    margin-left: 50px;
}

#menu-tea{
    margin-top: 50px;
    margin-left: 50px;
}

#menu-other{
    margin-top: 50px;
    margin-left: 50px;
}
/*end layout.html css*/

:root {
    --background-cup: rgb(0, 0, 0);
}
  
.ingredient_label {
    display: inline-block;
}

.cup {
    height: 200px;
    width: 200px;
    border: #e4f3fe 3px solid;
    border-radius: 0px 0px 25px 25px;
    overflow: hidden;
}
  
.drink-outline {
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
    margin: auto;
    width: 93%;
    height: 96%;
    border-radius: 0px 0px 20px 20px;
    outline: 0;
    overflow: hidden;
}
  
.cup-ingredient {
    position: relative;
    display: block;
    width: 100%;
    height: 20%;
    overflow: hidden;
    -webkit-transition: background 1.5s;
    -moz-transition:    background 1.5s;
    -ms-transition:     background 1.5s;
    -o-transition:      background 1.5s;
    transition:         background 1.5s;
}
  
.cup-ingredient::after {
    content: "";
    background: var(--background-cup);
    position: absolute;
    height: 400%;
    width: 300%;
    top: -50%;
    left: -50%;
    animation: spin 2s ease-in-out forwards;
}
  
@keyframes spin {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
}

.cup-holder {
    margin: auto;
    width: fit-content;
    background-color: var(--background-cup);
    padding: 10%;
    border-radius: 15%;
    margin-top: 20px;
}
  
