/*color scheme*/
/*
main color - #e3cbb4
accent color - rgb(149, 189, 149)
dark gray - rgb(87, 87, 87);
light gray - rgb(153, 150, 150);
*/


body {
    font-family: 'Mulish', sans-serif;
}

#branding{
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
}
/*layout.html css*/
.naturaltanbackgroundcolor{
  background-color: #e5d2a7;
}
.traditionaltanbackgroundcolor{
  background-color: #97835e;

}
.populartanbackgroundcolor{
  background-color: #ffeeae;
}
/*old colors hex values: e3cbb4, 95bd95 */

#welcome{
    margin: 50px;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: 'IBM Plex Serif', serif;
    margin-bottom: 35px;
}

#welcome-explanation{
    margin-top: -25px;
    margin-bottom: 35px;
    font-size: 21px;
    text-align: center;
    color: rgb(87, 87, 87);
}

#menu-coffee{
    margin-top: 50px;
}

#menu-tea{
    margin-top: 50px;
}

#menu-other{
    margin-top: 50px;
}

.view1{
    text-align: right;
}

.view2{
    text-align: center;
}

.view3{
    text-align: left;
}

.start_button{
    text-align: center;
    margin-top: 140px;
}
.whitetext{
  color: white;
}
.buttoncolors{
    color: #36362c;
    background-color: #5d907d;
}
.buttoncolors:hover{
  color: #0f0f0d;
  background-color: #dadada;

}
#btn_coffee{
    width: 200px;
  /*  background-color: #5d907d;*/
    /*rgb(149, 189, 149);*/
    border: none;
    height: 55px;
    border-radius: 12px;
    /*color: rgb(87, 87, 87);*/
    /*color: #36362c;*/

    cursor: pointer;
}

#coffee{
    border-radius: 12px;
    cursor: pointer;
    border: none;
    height: 35px;
    margin-right: 10px;
}
#tea{
    border-radius: 12px;
    cursor: pointer;
    border: none;
    height: 35px;
    margin-right: 10px;
}
#other{
    border-radius: 12px;
    cursor: pointer;
    border: none;
    height: 35px;
}
.twelvepointborder{
  border-radius: 12px;

}
/*end layout.html css*/

/*starting front css*/
#drink_name_front{
    color: rgb(87, 87, 87);
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 18px;
    font-family: 'IBM Plex Serif', serifs;
}

.shelf_label{
    color: black;
    font-size: 25px;
    margin-left: 70px;
    font-weight: bold;
    margin-bottom: 8px;
}

#ingredients-shelf{
    margin-left: 70px;
    font-size: 17px;
}

#tools-shelf{
    margin-left: 70px;
    font-size: 17px;
}

.righty{
    text-align: center;
}

/*end front css*/
/*start view css*/
#selection-type{
    color: rgb(87, 87, 87);
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 18px;
    font-family: 'IBM Plex Serif', serif;
}
#drink_current{
    font-weight: bold;
    color: black;
    font-size: 25px;
    text-align: left;
    padding-bottom: 15px;
}

.image-for-recipe{
    margin-left: 70px;
    text-align: left;
}

.make{
    width: 200px;
    /*background-color: rgb(149, 189, 149);*/
    border: none;
    height: 55px;
    border-radius: 12px;
    /*color: rgb(87, 87, 87);*/
    cursor: pointer;
}
.make2{
    width: 200px;
    background-color: rgb(149, 189, 149);
    border: none;
    height: 55px;
    border-radius: 12px;
    color: rgb(87, 87, 87);
    cursor: pointer;
    border-top: 20px;
}
.LearnRecipe{
/*tagging class*/
}
.RecipeQuiz{
  /*tagging class*/

}

#drink_taste{
    text-align: left;
    border-top: 100px;
    padding-top: 70px;
    color: rgb(87, 87, 87);
    font-size: 15px;
}

#update1{
    text-align: right;
}

#update2{
    text-align: right;
    padding-top: 15px;
}
/*end view css*/

/*start learning css*/
#drink_name{
    color: rgb(87, 87, 87);
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 18px;
    font-family: 'IBM Plex Serif', serif;
}

#step_label{
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 18px;
    margin-left: 70px;
}
#drink_ingredients{
    margin-left: 70px;
}
#drink_tools{
    margin-left: 70px;
}
#shelf_label{
    margin-left: 70px;
}
#quiz_button_add{
    text-align: center;
}
#quiz_button{
    width: 175px;
    border: none;
    height: 55px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 8px;
}
/*end learning css*/

:root {
    --background-cup: rgb(0, 0, 0);
}

#selection{
    font-size: large;
}

.ingredient_label {
    display: inline-block;
}
.unacceptable{
  border: 2px solid red;
  border-radius: 4px;
}


.cup {
    height: 200px;
    width: 200px;
    border: #e4f3fe 3px solid;
    border-radius: 0px 0px 25px 25px;
    overflow: hidden;
}

.drink-outline {
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
    margin: auto;
    width: 93%;
    height: 96%;
    border-radius: 0px 0px 20px 20px;
    outline: 0;
    overflow: hidden;
}

.cup-ingredient {
    position: relative;
    display: block;
    width: 100%;
    height: 20%;
    overflow: hidden;
    -webkit-transition: background 1.5s;
    -moz-transition:    background 1.5s;
    -ms-transition:     background 1.5s;
    -o-transition:      background 1.5s;
    transition:         background 1.5s;
}

.cup-ingredient::after {
    content: "";
    background: var(--background-cup);
    position: absolute;
    height: 400%;
    width: 300%;
    top: -50%;
    left: -50%;
    animation: spin 2s ease-in-out forwards;
}

@keyframes spin {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
}

.cup-holder {
    margin: auto;
    width: fit-content;
    background-color: var(--background-cup);
    padding: 10%;
    border-radius: 15%;
    margin-top: 20px;
}
