{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'front.js') }}"></script>
    
    <script>
        let drink_info = {{drink_info|tojson}}
        let ingredient_tool_data = {{ingredient_tool_data|tojson}}
    </script>
   <div class="row">
        <div class="col-2">
            <div id="drink_name_front"> {{drink_info.name}}:</div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Ingredients:
            <div id="ingredients-shelf">
                {% for ingred in  drink_info.quantities %}
                    {{ingred}}<br>
                {% endfor %}
            </div><br>
            Tools:
            <div id="tools-shelf">
                {% for tool in  drink_info.tools %}
                    {{tool}}<br>
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <img src="{{drink_info.image}}" alt="{{drink_info.name}}" width="150" height="100">
            <br>
            <input type="button" class="make" value="Click to begin!"></input>
        </div>
    </div>

{% endblock %}

