{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
    
    <script>
        let drink_info = {{drink_info|tojson}}
        let ingredient_tool_data = {{ingredient_tool_data|tojson}}
	
    </script>
    <div class="row">
        <div class="col-12">
            <div id="drink_name"> {{drink_info.name}}: </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Ingredient and Tool Shelf:
            <div id="ingredients-shelf">
                {% for ingred in  drink_info.ingredients %}
                    <input type="button" class="ingredient_button" value="{{ingred}}"></input>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <br>
            <div id="tools-shelf">
                {% for tool in  drink_info.tools %}
                    <input type="button" class="ingredient_button" value="{{tool}}"></input>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-6" id="step_instructions">
       </div>	
       <div class="col-6">
		<button id="learn_next_step_button">
			Next Step 
		</button>
       </div>
    </div>

{% endblock %}

