{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

    <script>
        let drink_info = {{drink_info|tojson}}
        let ingredient_tool_data = {{ingredient_tool_data|tojson}}
        let step = {{step|tojson}}
        let ingredient_colors = {{ingredient_colors|tojson}} 
    </script>
    <div class="row">
        <div class="col-12">
            <div id="drink_name"> {{drink_info.name}}: </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="step_label"> Step: Add </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="shelf_label"> Ingredient and Tool Shelf: </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div id="drink_ingredients">
              {% for ingred in  drink_info.ingredients %}
                {% for num,ingretool in ingredient_tool_data.items() %}
                  {% if ingretool['name'] == ingred %}
                    <div class="ingredient_label" id="{{ingred}}">{{ingred}}
                    <img src="{{ingretool.image}}" alt="Picture of {{ingretool.name}}" width="50" height="50">
                    </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class = "cup-holder">
                        <div class = "cup-container" id = "cup">
                            <div class = "cup">
                                <div class = "drink-outline">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div id="drink_tools">
                {% for tool in  drink_info.tools %}
                 {% for num,ingretool in ingredient_tool_data.items() %}
                  {% if ingretool['name'] == tool %}
                    <input type="image" src="{{ingretool.image}}" name="submit" alt="Picture of {{ingretool.name}}" width="80" height="50" class="tool_button" value="{{tool}}"/>
                  {% endif %}
                {% endfor %}
               {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div id="quiz_button_add"></div>
        </div>
    </div>

{% endblock %}
