{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'view.js') }}"></script>
    
    <script>
        let drink_info = {{drink_info|tojson}}
        let ingredient_tool_data = {{ingredient_tool_data|tojson}}
    </script>
    <div class="row">
        <div class="col-12">
            <div id="selection"> {{drink_info.type}} Selection: </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div id="drink_name"> {{drink_info.name}}</div>
        </div>
        <div class="col-3">
            <img src="{{drink_info.image}}" alt="{{drink_info.name}}" width="150" height="100">
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <div id="update"></div>
        </div>
    </div>

{% endblock %}
