{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'view.js') }}"></script>
    
    <script>
        let drink_info = {{drink_info|tojson}}
        let ingredient_tool_data = {{ingredient_tool_data|tojson}}
    </script>
    <div class="row">
        <div class="col-12">
            <div id="selection-type"> {{drink_info.type}} Selection: </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 image-for-recipe">
            <div id="drink_current"> {{drink_info.name}}</div>
            <img src="{{drink_info.image}}" alt="{{drink_info.name}}" width="250" height="175">
        </div>
        <div class="col-3">
            <div id="drink_taste"> {{drink_info.taste}}</div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <div id="update2"></div>
        </div>
    </div>
{% endblock %}

